body{
    background: url(about.jpg) no-repeat;
    background-size: cover;
    max-width: max-content;


}

h3{

    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

h5{
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;



}

p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.info{
    margin: 50px;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align:start;
    padding: 10px;
    max-width: 750px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.info-2{
    margin: 50px;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align:start;
    padding: 10px;
    max-width: 750px;
}

.education{
    background-color:cornflowerblue
;   margin: 50px;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 5px 0 rgba(235, 230, 230, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align:start;
    padding: 10px;
    max-width: 750px;
}


