
body{

    /* text-align: center; */
    background-color:dodgerblue;

    max-width: 1024px;
    margin: 200px; 

    width: 95%;
   
    background:linear-gradient(135deg,#71b7e6,#9b59b6);


  }

  .box{
    
    margin: auto;
    margin-top: 1px;
    color: white;
    padding: 1px;
    text-align: center;
    max-width: 700px;
   
}

.link{
  color:black;
  font-family: 'Dancing Script', cursive;
        font-size: 25px;
        font-weight: bold;
        padding: 0px;
        text-align: center;

        

}

.box-image{
    
    width: 300px;
    height:auto;
    border-style: outset;
    
    }



    .name{

        line-height: 0.5;
        letter-spacing: 1px;
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        font-weight: bold;
        padding: 0px;
     
    
    
    }
    
    .info{
      
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        word-spacing: 0.5px;
    
    
       
    
    }

    
.resume{
   
    letter-spacing: 1px;
    background-color: white;
    border-radius: 60px;
    border: none;
    color:black;
    padding: 10px;
    text-align: center;
    text-decoration:none;
    display:inline-block;
    font-size: 17px;
    margin: 5px 5px;
    cursor: pointer;
    /* -webkit-transition-duration: 0.4s; /* Safari */
   /* transition-duration: 0.4s; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    
}
.resume:hover{
    background-color:black;
    color: white;
}



.contact{
  
    letter-spacing: 1px;
    background-color: white;
    border-radius: 60px;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 17px;
    margin: 5px 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contact:hover{
 background-color:black;
    
    color: white;
}

.about{
  
    letter-spacing: 1px;
    background-color: white;
    border-radius: 60px;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display:inline;
    font-size: 17px;
    margin: 5px 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}

.about:hover{
    background-color:black;
    color: white;
}
    

p{
    padding-top: 2cm;
    text-align:center;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}










  fieldset{
      background-color:white;
      margin: 50px;
      /* background:linear-gradient(135deg,#687883,#3b0052); */
       border-radius: 25px;
       border: 2px solid #000;

  }
  
  
  
  input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
  
  
  
    input[type=reset] {
      background:linear-gradient(135deg,#1380c9,#68098d);
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      width: 30%;
    }
  
    input[type=reset]:hover {
      background:linear-gradient(135deg,#013d64,#43035c);
    
      font-weight: 500;
    }
    
    input[type=submit] {
  
      background:linear-gradient(135deg,#1380c9,#68098d);
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      width: 30%;
     
    }
  
    input[type=submit]:hover {
      background:linear-gradient(135deg,#013d64,#43035c);
    
      font-weight: 500;
    }
    
  
  
  
    h2{
        text-decoration: underline;
    }
   
    #nameError {
      display: none;
      font-size: 0.8em;
    }
    
    #nameError.visible {
      display: block;
    }
    
    input.invalid {
      border-color: red;
    }
